@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'yekanBakh', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.tabs-trigger:first-child {
  @apply rounded-tr;
}

.tabs-trigger {
  @apply my-0 py-0 h-full rounded-none data-[state=active]:!shadow-none shadow-none data-[state=active]:!text-primary;
}

body::-webkit-scrollbar {
  display: none;
}

@layer components {
  .custom-container {
    @apply w-full px-2 sm:px-4 max-w-6xl mx-auto;
  }
}
